* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin-top: 80px;
  margin-right: 150px;
  margin-left: 150px;
  padding: 0;
  background-color: whitesmoke;
}
h1 > a {
  color: black;
}
.head > li > a {
  color: gray;
}
.engines > ul > li > a, p > a {
  color: darkblue;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
